<h1>Flexile is getting new pricing.</h1>

<p>Our old pricing was $15/month per contractor, plus 0.5% to cover transfer fees.</p>

<p>We've updated our pricing to 1.5% + $0.50, capped at $15/transfer.</p>

<p>This means for a $100 invoice, fees are now $2 instead of $15.50, making it much cheaper to give Flexile a shot.</p>

<p>For someone billing $10,000 a month, via 2 biweekly invoices, fees are now $30 instead of $65.</p>

<p>Please let me know if you have any questions! The change will go live early next week.</p>

<p>Best,<br>
Sahil, CEO of Flexile</p>
