<h1>We validated your tax ID!</h1>
<p>Thank you for updating your tax information! Since your tax ID has now been validated, we're able to reduce your tax withholding to 0%.</p>
<p>Best,<br>The Flexile Team</p>
