<h1>We had trouble linking your bank account<%= @bank_account_last_four ? " ending in #{@bank_account_last_four}" : "" %>.</h1>

<p>To avoid any delays and ensure your invoices are paid on time, please link your bank account again. If a verification deposit is needed, make sure to complete this step within 10 days.</p>

<%= link_to "Link bank account",
            "#{PROTOCOL}://#{DOMAIN}/settings/administrator",
            class: "button" %>
