<% if show_helper_widget? %>
  <% timestamp = (Time.now.to_f * 1000).to_i %>

  <div id="helper-widget-container"
       data-host="<%= helper_widget_host %>"
       data-email="<%= Current.user.email %>"
       data-email-hash="<%= helper_widget_email_hmac(timestamp) %>"
       data-timestamp="<%= timestamp %>">
  </div>

  <script data-cfasync="false">
    //<![CDATA[
    (function(d) {
      var container = d.getElementById('helper-widget-container');
      var g = d.createElement("script");
      g.src = container.dataset.host + "/widget/sdk.js";
      g.onload = function() {
        window.HelperWidget.init({
          title: "Support",
          email: container.dataset.email,
          email_hash: container.dataset.emailHash,
          mailbox_slug: "flexile",
          timestamp: parseInt(container.dataset.timestamp, 10),
          experimental_read_page: true
        });
      };
      d.body.appendChild(g);
    })(document);
    //]]>
  </script>
<% end %>
